.thing {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 203, 143);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px 0.8px rgb(252, 184, 107);
}



/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(32, 14, 94);
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: rgb(128, 20, 20);
}